.welcome-panel {
	padding: 0 10px;
}

.welcome-panel-content {
	max-width: none;
}

.welcome-panel .welcome-panel-column {
	width: 64%;
}

.welcome-panel .welcome-panel-column:first-child {
	width: 35%;
}

@media screen and (max-width: 870px) {

	.welcome-panel .welcome-panel-column,
	.welcome-panel .welcome-panel-column:first-child {
		display: block;
		float: none;
	}

	.welcome-panel .welcome-panel-column {
		width: 100%;
	}

	.welcome-panel .welcome-panel-column:first-child {
		width: 100%;
	}

}

#report_content {

	section {
		min-height: 20px;
		border-bottom: 1px rgb(192, 192, 192) solid;
		margin-bottom: 5px;
		margin-right: 20px;
	}

	section span {
		margin-left: 20px;
	}
	
}

#loading_report {
	text-align: center;
	margin-top: 50px;
	margin-left: -80px;
	font-size: 36px;
}

