# System files & Artifacts
.DS_Store
.phplint.cache
build.properties
build
selenium-server.jar
node_modules
npm-debug.log

# IDE
.idea
nbproject

# Composer
vendor

# Compiled files
admin/css/admin.css

#Untrack old files
/old
