.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.label {
  border-radius: 0.25em;
  color: #FFFFFF;
  display: inline;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  padding: 0.2em 0.6em 0.3em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.dataset-1 {
  background-color: rgba(220,220,220,1);
}

.dataset-2 {
  background-color: rgba(151,187,205,1);
}

.canvas-holder {
  width: 100%;
  min-height: 300px;
}

.canvas-holder .no-data {
    border: 4px solid gray;
    border-radius: 50%;
    height: 80px;
    margin: 100px auto 20px auto;
    width: 80px;
    display: block;
    position: relative;
    border-color: #f27474;
}

.canvas-holder .no-data .line {
    background-color: #f27474;
    border-radius: 2px;
    display: block;
    height: 5px;
    position: absolute;
    top: 37px;
    width: 47px;
}

.canvas-holder .no-data .line.left {
    left: 17px;
    transform: rotate(45deg);
}

.canvas-holder .no-data .line.right {
    right: 16px;
    transform: rotate(-45deg);
}

.canvas-holder > h2 {
    color: #575757;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    text-align: center;
    text-transform: none;
}

.canvas-holder > p {
    color: #797979;
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    margin: 0;
    position: relative;
    text-align: center;
}
