.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.label {
  border-radius: 0.25em;
  color: #FFFFFF;
  display: inline;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  padding: 0.2em 0.6em 0.3em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.dataset-1 {
  background-color: rgba(220,220,220,1);
}

.dataset-2 {
  background-color: rgba(151,187,205,1);
}

.canvas-holder {
  width: 100%;
}

